In [1]:
import requests
from bs4 import BeautifulSoup


r=requests.get("https://www.century21.com/real-estate/london-oh/LCOHLONDON")
c=r.content


soup=BeautifulSoup(c,"html.parser")

all=soup.find_all("div",{"class":"infinite-item"})


all[0].find("a",{"class":"listing-price"}).text.replace("\n","").replace(" ","")




l=[]

for item in all:
    d={}
    try:

         d["PRICE"]=item.find("a",{"class":"listing-price"}).text.replace("\n","").replace(" ","")
    except:
                    
            d["PRICE"]=None
        
        
    try:
         d["Address"]=item.find_all("div",{"class","property-address"})[0].text.replace("\n","").replace(" ","")
    except:
            d["Address"]=None

    try:
                d["City"]=item.find_all("div",{"class","property-city"})[0].text.replace("\n","").replace(" ","")
    except:
                            d["City"]=None

    try:
        d["Bed"]=item.find("div",{"class","property-beds"}).text.replace("\n","").replace(" ","")
    except:
            d["Bed"]=None

    try:
        d["Baths"]=item.find("div",{"class","property-baths"}).text.replace("\n","").replace(" ","")
    except:
            d["Baths"]=None
    try:
        d["Half Baths"]=item.find("div",{"class","property-half-baths"}).text.replace("\n","").replace(" ","")
    except:
            d["Half Baths"]=None

    try:
        d["SQFT"]=item.find("div",{"class","property-sqft"}).text.replace("\n","").replace(" ","")
    except:
            d["SQFT"]=None
    l.append(d)

In [2]:
l

[{'PRICE': '$399,900',
  'Address': '82-88ChandlerAvenue',
  'City': 'LondonOH43140',
  'Bed': None,
  'Baths': None,
  'Half Baths': None,
  'SQFT': '4,264sq.ft'},
 {'PRICE': '$179,900',
  'Address': '63LoganAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': '1halfbath',
  'SQFT': '1,572sq.ft'},
 {'PRICE': '$50,000',
  'Address': '167SMadisonRoad',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '1,468sq.ft'},
 {'PRICE': '$239,925',
  'Address': '196WHighStreet',
  'City': 'LondonOH43140',
  'Bed': '4beds',
  'Baths': '2baths',
  'Half Baths': None,
  'SQFT': '1,680sq.ft'},
 {'PRICE': '$239,925',
  'Address': '196WHighStreet',
  'City': 'LondonOH43140',
  'Bed': '4beds',
  'Baths': '2baths',
  'Half Baths': None,
  'SQFT': '2,500sq.ft'},
 {'PRICE': '$109,900',
  'Address': '32GrahamAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': '1halfbath',
  'SQFT': '960sq.ft'},
 {'PRICE': '$9,000',
  'Address': '19WCenterStreet',
  'City': 'LondonOH43140',
  'Bed': None,
  'Baths': None,
  'Half Baths': None,
  'SQFT': None},
 {'PRICE': '$137,000',
  'Address': '247WashingtonAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '912sq.ft'},
 {'PRICE': '$189,900',
  'Address': '1091WesleyDrive',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '2baths',
  'Half Baths': None,
  'SQFT': '1,044sq.ft'},
 {'PRICE': '$187,500',
  'Address': '50SLaurelStreet',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '1,358sq.ft'},
 {'PRICE': '$319,900',
  'Address': '7565BigPlainCirclevilleRoad',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '2baths',
  'Half Baths': None,
  'SQFT': '3,109sq.ft'},
 {'PRICE': '$219,900',
  'Address': '1485StateRoute665',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '1,232sq.ft'},
 {'PRICE': '$649,900',
  'Address': '996StateRte42',
  'City': 'LondonOH43140',
  'Bed': '4beds',
  'Baths': '3baths',
  'Half Baths': None,
  'SQFT': '4,495sq.ft'},
 {'PRICE': '$269,900',
  'Address': '2065WChoctawDrive',
  'City': 'LondonOH43140',
  'Bed': '5beds',
  'Baths': '3baths',
  'Half Baths': None,
  'SQFT': '3,366sq.ft'},
 {'PRICE': '$129,900',
  'Address': '90NUnionStreet',
  'City': 'LondonOH43140',
  'Bed': '4beds',
  'Baths': '1bath',
  'Half Baths': '1halfbath',
  'SQFT': '1,766sq.ft'},
 {'PRICE': '$119,900',
  'Address': '119ChandlerAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '976sq.ft'},
 {'PRICE': '$275,000',
  'Address': '6140HumeLeverRoad',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '2baths',
  'Half Baths': None,
  'SQFT': '1,806sq.ft'},
 {'PRICE': '$145,000',
  'Address': '138ChrismanAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '964sq.ft'},
 {'PRICE': '$129,900',
  'Address': '218WLincolnAvenue',
  'City': 'LondonOH43140',
  'Bed': '3beds',
  'Baths': '1bath',
  'Half Baths': None,
  'SQFT': '912sq.ft'},
 {'PRICE': '$69,900',
  'Address': '0Us42',
  'City': 'LondonOH43140',
  'Bed': None,
  'Baths': None,
  'Half Baths': None,
  'SQFT': None},
 {'PRICE': None,
  'Address': None,
  'City': None,
  'Bed': None,
  'Baths': None,
  'Half Baths': None,
  'SQFT': None}]

In [3]:
import pandas
df=pandas.DataFrame(l)

In [4]:
df

,PRICE,Address,City,Bed,Baths,Half Baths,SQFT
0,"$399,900",82-88ChandlerAvenue,LondonOH43140,None,None,None,"4,264sq.ft"
1,"$179,900",63LoganAvenue,LondonOH43140,3beds,1bath,1halfbath,"1,572sq.ft"
2,"$50,000",167SMadisonRoad,LondonOH43140,3beds,1bath,None,"1,468sq.ft"
3,"$239,925",196WHighStreet,LondonOH43140,4beds,2baths,None,"1,680sq.ft"
4,"$239,925",196WHighStreet,LondonOH43140,4beds,2baths,None,"2,500sq.ft"
5,"$109,900",32GrahamAvenue,LondonOH43140,3beds,1bath,1halfbath,960sq.ft
6,"$9,000",19WCenterStreet,LondonOH43140,None,None,None,None
7,"$137,000",247WashingtonAvenue,LondonOH43140,3beds,1bath,None,912sq.ft
8,"$189,900",1091WesleyDrive,LondonOH43140,3beds,2baths,None,"1,044sq.ft"
9,"$187,500",50SLaurelStreet,LondonOH43140,3beds,1bath,None,"1,358sq.ft"
10,"$319,900",7565BigPlainCirclevilleRoad,LondonOH43140,3beds,2baths,None,"3,109sq.ft"
11,"$219,900",1485StateRoute665,LondonOH43140,3beds,1bath,None,"1,232sq.ft"
12,"$649,900",996StateRte42,LondonOH43140,4beds,3baths,None,"4,495sq.ft"
13,"$269,900",2065WChoctawDrive,LondonOH43140,5beds,3baths,None,"3,366sq.ft"
14,"$129,900",90NUnionStreet,LondonOH43140,4beds,1bath,1halfbath,"1,766sq.ft"
15,"$119,900",119ChandlerAvenue,LondonOH43140,3beds,1bath,None,976sq.ft
16,"$275,000",6140HumeLeverRoad,LondonOH43140,3beds,2baths,None,"1,806sq.ft"
17,"$145,000",138ChrismanAvenue,LondonOH43140,3beds,1bath,None,964sq.ft
18,"$129,900",218WLincolnAvenue,LondonOH43140,3beds,1bath,None,912sq.ft
19,"$69,900",0Us42,LondonOH43140,None,None,None,None
20,None,None,None,None,None,None,None

In [6]:
df.to_csv("FirstScapping.csv")